/*------------------------------------

Disroot Media Queries
29-01-2019
------------------------------------*/

/* screenheight less than 800px
------------------------------------*/
@media only screen and (max-height: 800px) {
  ul#nav li.dropdown {
    height: 20px;
  }
}

/* screenwidth less than 1150px
------------------------------------*/
@media only screen and (max-width: 1150px) {

    /* header styles
   ------------------------------------*/
   header .banner { padding-bottom: 12px; }
   header .banner-text h1 {
      font: 78px/1.1em 'opensans-bold', sans-serif;
      letter-spacing: -1px;
      margin: 0 auto 12px auto;

   }
   header .banner-text h3 {
      font: 17px/1.9em 'librebaskerville-regular', serif;
      width: 80%;
   }
   header .banner-text hr {
      width: 65%;
      margin: 12px auto;
   }

   /* nav-wrap */
   ul#nav li a {
      padding: 8px 8%;
    }

    #nav-logo {
        height: 35px;
        background-size: 30px;
    }

    #state-logo {
        height: 35px;
        width: 25px;
        background-size: 20px;
        top: 20px;
    }

    #dash-logo {
        height: 35px;
        width: 25px;
        background-size: 20px;
    }

    #user-logo {
        height: 35px;
        width: 25px;
        background-size: 20px;
    }

   .dropdown-content {
       display: none;
       z-index: 1;
   }
   .dropdown:hover .dropdown-content {
       display: none;
   }


   /* Contact Section
   ------------------------------------*/
   #contact .section-head { margin-bottom: 30px; }
   #contact .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #contact .section-head p.lead { font: 17px/33px opensans-light, sans-serif; }
}


/* mobile wide/smaller tablets
------------------------------------*/

@media only screen and (max-width: 830px) {

   /* mobile navigation
   ------------------------------------*/


   /* Header Styles
   ------------------------------------*/
   header .banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }
   header .banner-text h1 { font: 68px/1.1em 'opensans-bold', sans-serif; }
   header .banner-text h3 {
      font: 16px/1.9em 'librebaskerville-regular', serif;
      width: 85%;
   }
   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }

/* toggle buttons */
#nav-wrap:not( :target ) > a:first-of-type,
#nav-wrap:target > a:last-of-type  {
	   display: block;
}

#nav-wrap > a {
   width: 48px;
   height: 48px;
   background-color: #50162D;
   position: absolute;
   border: none;
   float: right;
   font: 0/0 a;
   text-shadow: none;
   color: transparent;
   top: 0px;
   right: 30px;
}

#nav-wrap > a:before, #nav-wrap > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
}

#nav-wrap > a:after {
  top: 60%;
}

/* End toggle buttons */


#nav-wrap {
     font: 12px 'opensans-bold', sans-serif;
     background: transparent !important;
     letter-spacing: 1.5px;
     width: auto;
     top: 0;
     right: 0;
     display:block;
  }

  ul#nav li {
     display: block;
     height: auto;
     margin: 0 auto;
     padding: 0 4%;
     border-bottom: 1px solid #2D2E34;
     border-bottom-style: dotted;

  }

  ul#logo-right li {
     border-top: 1px solid #2D2E34;
     border-top-style: dotted;
  }

  ul#nav li a {
     display: block;
     margin: 0;
     padding: 0;
     margin: 12px 0;
     line-height: 16px; /* reset line-height from 48px */
     border: none;
     text-align: center;
  }

/* display menu panels */
#nav-wrap:target div#nav-links > ul#nav	{
   display: block;
   padding: 30px 20px 10px 20px;
   background: #1f2024;
   margin: 0 30px;
   float: right;
   width: 150px;
}

#nav-wrap:target div#nav-right > ul#logo-right	{
   display: block;
   padding: 0px 20px 10px 20px;
   background: #1f2024;
   margin: 0 30px;
   float:right;
   width: 150px;
}

/* hide menu panel */
#nav-wrap div#nav-links > ul#nav {
   height: auto;
   display: none;
   clear: both;
   width: 30%;
   float: right;
   position: relative;
   top: 12px;
   right: 0;
}

#nav-wrap div#nav-right > ul#logo-right	{
   height: auto;
   display: none;
   clear: both;
   width: 30%;
   float: right;
   position: relative;
   right: 0;
}

/* hide D logo */
div#nav-logo {
    display: none;
}

/* State and dashboard logos */

#nav-links {
  padding: 0;
  }


   /* Control Nav */
  /* .flex-control-nav {
      text-align: center;
      margin-left: -30px;
   }*/

.two-col .five img {
  display: none;
}

.droot img {
  display: none;
}

.columns.six {
  width: 100%;
}


   /* Donations
------------------------------------*/

.two-col .five .donate img {
  display: flex;
    height: 50px;
}


/* Language menu*/

#language {
    position: fixed;
    top: 0px;
    right: 75px;
}

.language-selector .btn {
    font-size: 1.5rem;
    padding: 19px 15px;
}

.language-selector .btn i {
    position: absolute;
    top: 35px;
    right: 20px;
}

.language-selector .dropdown-menu {
  font-size: 1.3rem;
}

.language-selector .dropdown-menu>li>a {
    padding: 12px 15px;
}

   /* Form
   ------------------------------------*/

   #contact label {
      float: none;
      width: 100%;
   }
   #contact input,
   #contact textarea,
   #contact select {
     	margin-bottom: 6px;
      width: 100%;
   }
   #contact button.submit { margin: 30px 0 24px 0; }
   #message-warning, #message-success {
      width: 100%;
      margin-left: 0;
   }


   /* Footer
   ------------------------------------*/

   footer {
     letter-spacing: 0.5px;
     margin-bottom: 0px;
     font-size: 10px;
   }

   footer div#footer-links ul li {
     padding-left: 5px;
     padding-right: 5px;
   }

   footer #footer-links {
      text-align: center;
      width: 100%;
  }

   /* Icons */
   footer  #footer-icons { display: none; }
   footer  #footer-logo { display: none; }
   footer  #footer-left { display: none; }
   

   /* Go To Top Button */
   #go-top { margin-left: -22px; }
   #go-top a {
   	width: 54px;
   	height: 54px;
      font-size: 18px;
      line-height: 54px;
   }

   /* fullbar */

   .fullbar h3, .fullbar h4, .fullbar h5 {
       line-height: 1.2;
       font-size: 90%;
   }

   .fullbar-content{
   padding-top: 30px;
   }

   /* clients
   ------------------------------------*/

   .clients .row {
     display: block;
   }

   .client-item {
     margin-left: auto;
     margin-right: auto;
     margin: 5px;
   }

   #boxtitle {
     line-height: 1.2;
     font-size: 20px;
   }

   .clients img {
     filter: grayscale(40%);
   }


/* Goals
------------------------------------*/

.goals .row {
  display: block;
}

.goals-item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80% !important;
  min-width: 250px;
  max-width: 350px;
  }

.goals .center {
	text-align: center;
  margin: 1em 0 3em;

  }

}



/* mobile narrow
  ------------------------------------*/

@media only screen and (max-width: 600px) {

   /* mobile navigation
   ------------------------------------*/
   #nav-wrap ul#nav { width: 10%; float: none; }

   #nav-wrap:target div#nav-links > ul#nav	{
      width: 80%;
   }

   #nav-wrap:target div#nav-right > ul#logo-right	{
      width: 80%;
   }

   /* header styles
   ------------------------------------*/
   header .banner { padding-top: 24px; }
   header .banner-text h1 {
      font: 40px/1.1em 'opensans-bold', sans-serif;
      margin: 0 auto 24px auto;
   }
   header .banner-text h3 {
      font: 14px/1.9em 'librebaskerville-regular', sans-serif;
      width: 90%;
   }
   .miniheader {
       height: 0px;
       min-height: 0px;
   }
   header {
       height: 0px;
       max-height: 1px;
   }

   /* clients
   ------------------------------------*/

   .clients h6 {
     font-size: 100%;
   }

   .client-item {
      max-width: 80%;
      width: 80% !important;
   }

   /* goals
   ------------------------------------*/

   .goals h6 {
     font-size: 100%;
   }

   .goals-item {
      width: 80% !important;
   }



   #boxtitle {
     line-height: 1.2;
     font-size: 20px;
   }

   #iconlicence {
    width: 100%;
   }

   #challengetitle {
     font-size: 40px;
   }

   #challengesubtitle {
     font-size:55px;
   }

   #goaltitle {
     padding-left:20px;
     font-size: 35px !important;
     line-height: 1.5;
     text-align: center;
   }

   #rewardtitle {
     font-size: 45px;
   }

   .timer {
     display: block;
     margin: 0 auto;
   }

   .cup {
     text-align: center;
   }

   /* Services */

  }
