/*------------------------------------

Disroot Main style Sheet
29-01-2019
------------------------------------*/

/* Fonts */

@import url("fonts.css");
@import url("fork-awesome/css/fork-awesome.min.css");

/* Normalize - https://github.com/necolas/normalize.css/ */

@import url("normalize.css");


/* Defaults
------------------------------------*/

@import url("defaults.css");

/* General
------------------------------------*/

body { background: #fff; color: #555;}

/* Header
------------------------------------*/

header {
   position: relative;
   height: 100vh;
   min-height: 400px;
   width: 100%;
   background: #161415 url(../images/header-background.jpg)  no-repeat center center;
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)  ), url(../images/adm.png) no-repeat center center;*/
  /*background: #161415 url(../images/fuckoffgoogle3.jpeg)  no-repeat center center;
  */
   /*background: #000000 url(../images/censor.jpg) no-repeat center center;*/
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/************************************************/
/* A place for temporary campaigns / sticker on home banner */
.sticker {
    background: url(../images/2023-report.png) no-repeat center center;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    position: absolute;
    left: 5%;
    top: 15%;
    background-size: 200px;
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 830px) {
    .sticker {
        background-size: 150px;
        width: 150px;
        height: 150px;
        top: 10%;
    }
  }

@media only screen and (max-width: 640px) {
    .sticker {
        background-size: 100px;
        width: 100px;
        height: 100px;
        top: 20%;
        right: 3%;
    }
}

/* Alias challenge 2019
--------------------------------------*/

.aliaschallenge-header .miniheader-img {
  background-position: right top;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.domains .framed {
  height: 260px;
}

.domains .framed h2 {
  width: 100%;
  padding-top: 20px;
}

.domains .framed p {
  text-align: center;
}

/* Challenges tiles overlaping
--------------------------------------*/

.challenges {
  margin-top:-60px;

}
.challenges .client-item {
  /*height: 220px;*/
}

/* Rank
--------------------------------------*/
.fullbar-content .dots {
  width: 120%;
}

.dots {
  text-align: left;
}

.dots > * {
    display: inline-block;
}
.dots hr {
    border-top: dotted white 5px;
    border-bottom: dotted white 0px;
}
.dots .left {
    margin-left: 20px;
}

figcaption {
}

.tree img {
  position: absolute;
  right: 0px;
  bottom: -88px;
  max-height: 500px;
  transform: rotate(2deg);
  }

@media only screen and (max-width: 1270px) {
    .tree img {
        display: none;
    }

    #fund1, #fund2 {
      padding-right: 10% !important;
    }
}

#fund1, #fund2 {
     text-align: justify;
}

#iconlicence {
  float: right;
  font-size: 11px;
  width: 600px
}

#challengetitle {
  color: #ff547fff;
  font-size: 56px;
  font-family: 'kingthings_christmas';
  line-height: 1.2;
  text-align: center;
}

#challengesubtitle {
  font-size:85px;
}

#goaltitle {
  padding-left:130px;
  font-size: 30px !important;
  line-height: 1.5;
}

#rewardtitle {
  color: #ffffff;
  font-size: 56px;
  font-family: 'kingthings_christmas';
  line-height: 1.2;
  text-align: center;
}

.timer {
  color: #ffffff;
  font-size: 56px;
  font-family: 'kingthings_christmas';
  display:inline;
  margin-left: 50px;
  line-height: 1;
}

/***** Banner for translation ********************/

.translation_banner  {
  color: black;
  background-color: #CACAC8;
  padding-top: 1em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  }

/************************************************/

.noheader {
    position: absolute;
    top: 300px;
    width: 100%;
}

.miniheader {
    position: relative;
    height: 100vh;
    min-height: 400px;
    width: 100%;
}

.miniheader-img {
    position: fixed;
    height: 100vh;
    min-height: 400px;
    width: 100%;
    background-position: right bottom;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -o-background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    text-align: center;
    overflow: hidden;
    z-index: -999;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}


header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 80%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #50162D; }

/* primary navigation
------------------------------------*/

#nav-logo {
    display: inline-block;
    height: 45px;
    width: 45px;
    margin-left: 30px;
    background: url("../images/d-white.png") no-repeat left center;
    background-size: 40px 40px;
    opacity: 0.7;
}

#nav-logo a {
    display:block;
    height: 45px;
}

#nav-wrap ul, #nav-wrap li, #nav-wrap a #nav-logo {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   background-color: #50162D;
   font: calc(8px + 0.2vw) 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 0.2vw;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
}

.opaque { background-color: #50162D; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

.mobile-btn {
  z-index: 101;
}

#nav-links{
  text-align: center;
  flex-grow: 2;
  padding: 0 5%;

}

#nav {
  display: flex;
  justify-content: space-between;
}

ul#nav {
   min-height: 48px;
}

ul#nav li {
   position: relative;
   display: inline-block;
   list-style: none;
   height: 48px;
   width: auto;
   padding-right: 1%;
}

ul#logo-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

ul#logo-right li {
  line-height: 0px;
}

#nav-right {
  text-align: center;
  }

#state-logo {
    display: inline-block;
    height: 45px;
    width: 45px;
    background: url("../images/state-white.png") no-repeat center center;
    background-size: 30px;
    opacity: 0.7;
}

#dash-logo {
    display: inline-block;
    height: 45px;
    width: 45px;
    background: url("../images/dashboard.png") no-repeat center center;
    background-size: 30px;
    opacity: 0.7;
}

#user-logo {
    display: inline-block;
    height: 45px;
    width: 40px;
    background: url("../images/user.png") no-repeat center center;
    background-size: 25px;
    opacity: 0.7;
}


ul#nav li ul{
    position: absolute;
    list-style: none;
    height: 40px;
}

.dropdown {
}

.dropdown-content {
    display: none;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    border-top: 2px solid #FFF;
    display: block;
}

ul.dropdown-content a{
    width: 150px;
    background-color: #50162D;
    font-size: 10px;
    letter-spacing: 1.5px;
}

/* Language selector */

.language-selector .btn {
    position: relative;
    top: 15px;
    color: #b9a2ab;
    background-color: #50162D;
    border-color: #50162D;
    font-size: 1.5rem;
}

.language-selector .btn i {
    position: absolute;
    top: 20px;
    right: 15px;
}

.language-selector .dropdown-menu {
  color: #b9a2ab;
  background-color: #50162D;
  border-color: #50162D;
  right: 0px;
  left: auto;
  font-size: 1.3rem;
}

.language-selector .dropdown-menu li:hover {
    background-color: #8EB726;
}

.language-selector .dropdown-menu>li>a {
  color: #b9a2ab;
}

/* Reward on home page */

img.reward  {
  width: 50px;
  float: left;
}

/*.reward p {
  color:#1e5a5e;
  padding-left:10%;
  padding-right:10%;
  text-align:justify;
}*/


/* Links */
ul#nav li a {
   display: inline-block;
   padding: 8px 12%;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #b9a2ab;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: #b9a2ab !important; }
ul#nav li a:hover { color: #FFFFFF;}
ul#logo-right li a:hover { color: #FFFFFF; opacity: 1;}
ul#nav li.active a { color: #FFFFFF; }

ul#nav li a:hover .ul#nav li ul {
    display: block;
}

/* Template Specific
------------------------------------*/

/* two-col */

.two-col {
   width: 100%;
   padding-top: 80px;
   padding-bottom: 20px;
   overflow: hidden;
   transform: skew(0deg, -1deg) translateY(-40px);
   margin-top: -40px;
}

.two-col .row {
  transform: skew(0deg, 2deg) translateY(0px);
}

.two-col h1, .two-col h2, .two-col h3, .two-col h4, .two-col h5, .two-col h6 {
   /*font: 28px/30px 'Source-Sans-Pro', sans-serif;*/
   color: inherit;
   margin-bottom: 28px;
}
.two-col p {
   line-height: 27px;
   color: inherit;
}

.two-col p a, .two-col p a:visited {
    font-weight: bold;
}

.two-col .columns:first-of-type.five {
    margin-right: 8%;
}

.two-col .columns:last-of-type.five {
    margin-left: 8%;
}

/* three-col */

.three-col {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: -60px;
  overflow: hidden;
}

.three-col h1, .three-col h2, .three-col h3, .three-col h4, .three-col h5, .three-col h6 {
  color: inherit;
  margin-bottom: 28px;
}
.three-col p {
  line-height: 27px;
  color: inherit;
  text-align: left;
}
.three-col img {
  vertical-align: middle;
  padding: 2px;
}

/* fullbar */

.fullbar {
    padding: 40px 0px;
    text-align: center;
    transform: skew(0deg, 1deg) translateY(-20px);
    margin-top: -60px;
    margin-bottom: 0px;
    position: relative;
    z-index: 9;

}

.fullbar-content{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    padding-bottom: 30px;
    transform: skew(0deg, -1deg) translateY(0px);
}

.fullbar h1, .fullbar h2, .fullbar h3, .fullbar h4, .fullbar h5, .fullbar h6{
    color: inherit;
}

.fullbar h3, .fullbar h4, .fullbar h5 {
    line-height: 0.5;
}


/* Services */

#services {
  margin: 5% auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.service-logo {
   height: 80px;
   width: 250px;
   position: absolute;
   top: 20px;
}
.service-logo img {
   height: 80px;
   display: block;
   margin: 0 auto;
}
.framed {
   background: #FFF;
   display: inline-block;
   text-align: center;
   vertical-align: top;
   height: 240px;
   width: 250px;
   margin: 70px 25px;
   padding-top: 30px;
   clear: none;
   border-radius: 0px;
   border: none;
   box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
 }

.framed p {
   width: 80%;
   text-align: left;
   color: #555;
   margin: 5px auto;
   height: 58%;
}

.framed h2 {
   width: 70%;
   text-align: center;
   margin: 5px auto;
   font-size: 1.5em;
}

.service-btn, .service-btn:visited {
  position: relative;
  bottom: -13px;
  width: 30%;
  background-color: #50162D;
  text-align: center;
  font-size: 1.2em;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  padding: 2% 5%;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}

.service-btn:hover {
  background-color: #72384F;
  color: #50162D;
  border-color: #50162D;
}

.service-badge {
  position: relative;
  width: 60px;
  top: -210px;
  right: -210px;
  font: 14px/40px;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -1px;
  letter-spacing: 0px;
  background: #8eb726;
  border-radius: 10px;
  padding: 0 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: rotate(40deg);
  z-index: 99;
}

/* clients
------------------------------------*/

.clients {
  position: relative;
  display: flex;
	display: -webkit-flex;
	-webkit-flex: 1;
	flex: 1;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: left;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.client-item {
  position: relative;
  width: 20% !important;
  min-width: 200px;
  min-height: 180px;
  border: none;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
  margin: 2%;
  background-color: #ffffff;
  text-align: center;
}

.client-item h3 {
  line-height: 1.2;
  text-align: center;
}

.clients img {
  width: 70%;
  filter: grayscale(100%);
}

.clients img:hover {
  filter: grayscale(30%);
}

.clients h6, .clients i:first-of-type {
  display: inline-block;
  margin: 0 0 0 2%;
  padding: 0;
  font-size: 60%;
}

.tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
  padding: 2px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  bottom: 90%;
  left: 50%;
  margin-left: -50px;
  z-index: 1;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.client-item:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


/* Mission statement
--------------------------------------*/

#_root {
  position: -webkit-sticky;
  position: sticky;
  top: 5vh;
  height: 0;
  z-index: 9999;
}

.droot img {
  height: 80vh;
  float: left;
}


/* NC clients
--------------------------------------*/

.NCclients h5 {
  color: #50162D;
  text-align: left;
}

.NCclients .client-item {
  width: 20%;
  min-width: 100px;
  min-height: auto;
}

/* Privacy statement
--------------------------------------*/

#privacy {
  transform: skew(0deg, -1deg) translateY(0px);
}

#privacy .fullbar-content {
  transform: skew(0deg, 0deg) ;
}

#privacy ul {
  list-style: inherit;
}

#privacy ol {
  list-style-type: lower-alpha;
}

#privacy li {
  line-height: inherit;
}

#privacy strong {
  font: inherit;
  font-weight: bolder;
}

#privacy em {
  font-style: italic;
}

/* Contact
--------------------------------------*/
.contact {
  width:60px;
  vertical-align:middle;
  display:inline;
  margin-right: 30px;
}

.contact:hover {
filter: grayscale(100%);
}

.contact img {
  max-height: 55px;
  height: auto;
  padding:5px;
  float: left;
  margin-right: 10px;
}

.contact p {
  overflow: auto;
  line-height: 1.5;
}

/* Donations
------------------------------------*/

.donate {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-right: 20%;
}

.donate img {
    height: 50px;
}

.donate img:hover {
    filter: saturate(20%) brightness(110%);
}

section#_overview .fullbar-content {
    width: 90%;
    margin-bottom: -100px;
}

img.transparent {
    height: 40px;
    width: 40px;
    opacity: 0.0;
    position: relative;
    top: -120px;
}

/* Goals
------------------------------------*/
.goals {
  position: relative;
  display: flex;
	display: -webkit-flex;
	-webkit-flex: 1;
	flex: 1;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-evenly;
	-webkit-align-items: flex-start;
	align-items: flex-start;
}

.goals-item {
  position: relative;
  width: 28% !important;
  min-width: 250px;
  max-width: 350px;
  min-height: 250px;
  border: none;
  box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
  margin: 2% !important;
  color: #555;
  background-color: #ffffff;
  padding: 20px 3% 0;
}

.goals-item-lock {
  background-color: #e6e6e6;
}

.goals-item h3 {
  line-height: 1.2;
}

.goals .center {
    text-align: center;
    margin: 0;
}

.goals .right {
    text-align: right;
}

.goals img {
    position: relative;
    left: -80px;
}

.goals h2 {
    line-height: 110%;
    margin-bottom: 4%;
    color:#8EB726;
}

.goals h4 {
    line-height: 110%;
    color:#555;
    font-size: 90%;
}

.goals h6 {
  display: inline-block;
  margin: 0 0 0 2%;
  padding: 0;
  font-size: 60%;
}

.popper {
    font-size: 2em;
    padding: 5%;
}

.popper2 {
    font-size: 2em;
}

.pbar {
    font-weight: 900;
    width: 100%;
}

progress {
    width: 55%;
  	border: none;
    border-radius: 2px;
  	background: #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    margin: 0 15px;
}

progress {
  color: #eb3249;
}

progress::-webkit-progress-value {
  	background: #eb3249;
	border-radius: 2px;
}

progress::-moz-progress-bar {
  	background: #eb3249;
	border-radius: 2px;
}

progress::-webkit-progress-value {
  	background: #EEE;
	border-radius: 2px;
}

progress::-webkit-progress-bar {
  	background: #eb3249;
	border-radius: 2px;
}

/* Forms
------------------------------------*/
.form-title {
    width: 75%;
    position: relative;
    top: 60px;
    left: 20%;
    padding: 50px;
    color: #50162D;
}
.form-text {
   width: 45%;
   padding-top: 40px;
   margin-right: auto;
   margin-left: auto;
}
.form-number {
     max-width: 70px;
     height: 15px;
}
.form-field, .buttons{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}
textarea {
    width: 50%;
}
.form-input-wrapper input {
    width: 50%;
}
#formdata {
    position: relative;
    padding: 130px 10% 50px;
    min-height: 89vh;
    width: 100%;
}

#formdata .row {
    width: 70%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.25);
    padding: 3% 5%;
}

#delete-account-form, #alias-request-form {
    position: relative;
    margin: 100px;
    min-height: 55vmin;
}


/* faq
------------------------------------*/

#accordion div {
  color: #1F5C60;
}

.accordion #accordion ul li {
}

.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    background: white;
    color: #1F5C60;
    cursor:pointer;
    -webkit-transition: all .6s ease-out;
    -moz-transition: all .6s ease-out;
}

.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    color:#50162D;
    font-weight: bold;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.accordion .faq-content {
    padding: 0 0;
    overflow:hidden;
}

.accordion p {
    color: #1F5C60;
}

#accordion hr {
  border-top: 1px solid #E3E3E3;
}

.vertical ol {
  color: #1F5C60;
}

.vertical ul li label {
}

.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}

.vertical ul li .faq-content {
    height:0px;
    border-top:0;
}

.vertical [type=radio]:checked ~ label ~ .faq-content, .vertical [type=checkbox]:checked ~ label ~ .faq-content {
    height: auto;
    margin-bottom: 2px;
}

/* Page Bottom Template
------------------------------------*/



/* Footer
------------------------------------*/

footer {
   background-color: #50162D;
   color: #FFFFFF;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   color: #b9a2ab;
   font-weight: 600;
   line-height: 8px;
   left: 0;
   bottom: 0;
   width: 100%;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
}

footer #footer-left {
  display:flex;
  width: 150px;
  background: transparent;
  align-items: center;
  margin-left: 10px;
}

#footer-logo {
  background: url("../images/d-white.png") no-repeat center;
  background-size: contain;
  margin-bottom:0;
  margin-left: 1dvw;
  opacity: 0.7;
}

#footer-copyleft {
  background: url("../images/by-sa.png") no-repeat center;
  background-size: contain;
  margin-bottom:0;
  margin-left: 1dvw;
  opacity: 0.7;
}

#footer-logo a {
  display:flex;
  width: 45px;
  height: 45px;
  margin-bottom:0;
}

#footer-copyleft a {
  display:flex;
  width: 120px;
  height: 40px;
  margin-bottom:0;
}

footer .dot {
  height: 5px;
  width: 5px;
  background-color: #b9a2ab;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px;
}

footer #footer-links {
    text-align: center;
    width: calc(100% - 300px);
}

footer ul.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
 }

 footer #footer-icons {
  width: 150px;
  background: transparent;
  text-align: center;
  margin-right: 10px;
}

footer ul.footer-icons-left {
  display: inline-flex;
  width:100%;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer ul.footer-icons-right{
  display: inline-flex;
  width:100%;
  justify-content: right;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer div#footer-links ul li {
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
  padding-top: 13px;
}

footer #footer-links a {
    color: #b9a2ab;
}
footer #footer-links a:hover {
    color: #FFFFFF;
}

footer #footer-icons ul li {
margin: 0;
margin-right: 1dvw;;
text-align: center;
}

footer #footer-icons ul li .fa-fw {
  display: flex;
  color: white;
  opacity: 0.7;
  height: 45px;
  align-items: center;
}

footer #footer-icons ul li .fa-fw:hover {
  color: white;
  opacity: 1;
}

footer a, footer a:visited { color: #FFFFFF; }
footer a:hover, footer a:focus { color: #1F5C60; }


/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

/* JavaScript stuff
--------------------------------------*/

/* popup modal */
 .popup-modal {
     max-width: 550px;
     background: #fff;
     position: relative;
     margin: 0 auto;
 }
 .popup-modal .description-box { padding: 12px 36px 18px 36px; }
 .popup-modal .description-box h4 {
    font: 15px/24px 'opensans-bold', sans-serif;
     margin-bottom: 12px;
    color: #111;
 }
 .popup-modal .description-box p {
     font: 14px/24px 'opensans-regular', sans-serif;
    color: #A1A1A1;
    margin-bottom: 12px;
 }
 .popup-modal .description-box .categories {
    font: 11px/21px 'opensans-light', sans-serif;
    color: #A1A1A1;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    text-align: left;
 }
 .popup-modal .description-box .categories i {
    margin-right: 8px;
 }
 .popup-modal .link-box {
    padding: 18px 36px;
    background: #111;
    text-align: left;
 }
 .popup-modal .link-box a {
    color: #fff;
     font: 11px/21px 'opensans-bold', sans-serif;
     text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
 }
 .popup-modal a:hover {  color: #00CCCC; }
 .popup-modal a.popup-modal-dismiss { margin-left: 24px; }

  /* fadein/fadeout effect for modal popup
 ------------------------------------------------------------------ */

 /* content at start */
 .mfp-fade.mfp-wrap .mfp-content .popup-modal {
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
     -moz-transition: all 200ms ease-in-out;
     -o-transition: all 200ms ease-in-out;
     -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
 }
 /* content fadein */
 .mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
    opacity: 1;
 }
 /* content fadeout */
 .mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
    opacity: 0;
 }

/* Flex Slider */

/* Reset */
.flexslider a:active,
.flexslider a:focus  { outline: none; }
.slides,
.flex-control-nav,
.flex-direction-nav { margin: 0; padding: 0; list-style: none; }
.slides li { margin: 0; padding: 0;}

/* Necessary Styles */
.flexslider {
   position: relative;
   zoom: 1;
   margin: 0;
   padding: 0;
}
.flexslider .slides { zoom: 1; }
.flexslider .slides > li { position: relative; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container { zoom: 1; position: relative; }

/* Clearfix for .slides */
.slides:before,
.slides:after {
   content: " ";
   display: table;
}
.slides:after {
   clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child { display: block; }

/* Slider Styles */
.slides { zoom: 1; }
.slides > li {
   /*margin-right: 5px; */
   overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}


/* Changelog */
#changelog h1 {
	padding: 0.5em;
	text-align: center;
	background-color: #1f5c60;
	color: white;
  border-radius: 0.7em;
}

#changelog h3 {
  color: #50162D;
}

#changelog h1 + h3 {
  padding-top: 1em;
}

#changelog ul {
  list-style-type: decimal;
  padding-bottom: 1em;
}

#changelog li > ul {
  list-style-type: initial;
}

/* Image alignment */

.imgcenter {
 vertical-align:middle ;
}

/* Forms */
.form-spacer {
  background-color: #50162D;
  transform: skew(0deg, 1deg) translateY(-20px);
  color: white;
  padding: 2rem;
  padding-left: 20%;
  padding-right: 20%;
}

.form-spacer h3 {
  color: white;
  transform: skew(0deg, -1deg);
}

.form-spacer p {
  transform: skew(0deg, -1deg);
}

input#xmpp{
  width: 50px;
}

input#catchall{
  width: 50px;
}
