<div class="two-col" style="background-color:{{ page.header.bgcolor }};">
<div class="two-col-content" style="color:{{ page.header.fontcolor }}; text-align:{{ page.header.text_align }}; word-wrap: break-word;" >

{% block content %}

{% if page.header.wider_column == 'left' %}
    {% set colsize = ['six', 'five'] %}
{% elseif page.header.wider_column == 'right' %}
    {% set colsize = ['five', 'six'] %}
{% else %}
    {% set colsize = ['six', 'six'] %}
{% endif %}

    <section id="{{ page.header.section_id }}" class="two-col">
       <div class="row">
           {% for key, column in page.content|split('<hr />') %}
               <div class="{{ colsize[key] }} columns">
                  {{ column|raw }}
                  {% if page.header.cloudclients %}
                    {% if colsize[key] == 'six' %}
                        {% include 'modular/cloudclients.html.twig' %}
                    {% endif %}
                  {% endif %}
               </div>
           {% endfor %}
       </div>
     </section>
{% endblock %}

</div>
</div>
