<div class="three-col" style="background-color:{{ page.header.bgcolor }};">
<div class="three-col-content" style="color:{{ page.header.fontcolor }};">

{% block content %}
    {% set colsize = ['four', 'four', 'four'] %}
    <section id="{{ page.header.section_id }}" class="three-col">
       <div class="row">
           {% for key, column in page.content|split('<hr />') %}
               <div class="{{ colsize[key] }} columns">
                  {{ column|raw }}
               </div>
           {% endfor %}
       </div>
     </section>
{% endblock %}

</div>
</div>
