{% block content %}
<section id="{{ page.slug }}">
    <div class="fullbar" style="background-color:{{ page.header.bgcolor }};">
      <div class="fullbar-content" style="color:{{ page.header.fontcolor }}; text-align:{{ page.header.text_align }};">
               <div class="clients challenges" >
                   {% for item in page.header.clients %}
                   <div class="client-item two columns">
                        <h3 id="boxtitle">{{ item.title }}</h3>
                        <p>{{ item.text }}</p>
                   </div>
                   {% endfor %}
                </div>
               {{ page.content|raw }}
        </div>
    </div>
</section>
{% endblock %}
