{% block content %}
<section id="{{ page.slug }}">
    <div class="fullbar" style="background-color:{{ page.header.bgcolor }};">
      <div class="fullbar-content" style="color:{{ page.header.fontcolor }}; text-align:{{ page.header.text_align }};">
          <div class="row">
               <div class="clients row">
                   {% for item in page.header.clients %}
                   <div class="client-item two columns">
                     <a href="{{ item.link }}" target="_blank">
                        <br>
                        <img src="{{ page.url }}/{{ item.logo }}">
                        <br>
                        <h6>{{ item.title }}</h6>
                        <div class=platforms>
                          <i class="fa {{ item.platforms[0] }}"></i>
                          <i class="fa {{ item.platforms[1] }}"></i>
                          <i class="fa {{ item.platforms[2] }}"></i>
                          <i class="fa {{ item.platforms[3] }}"></i>
                        </div>
                     </a>
                     {% if item.text %}
                       <div class="tooltiptext">{{ item.text }}</div>
                     {% endif %}
                   </div>
                   {% endfor %}
                </div>
               {{ page.content|raw }}
          </div>
        </div>
    </div>
</section>
{% endblock %}
