<div class=NCclients>

<h5>{{ page.header.clients_title }}</h5>

     <div class="clients">
         {% for item in page.header.clients %}
         <div class="client-item columns">
           <a href="{{ item.link }}" target="_blank">
              <br>
              <img src="{{ page.url }}/{{ item.logo }}">
              <br>
              <h6>{{ item.title }}</h6>
              <div class=platforms>
                <i class="fa {{ item.platforms[0] }}"></i>
                <i class="fa {{ item.platforms[1] }}"></i>
                <i class="fa {{ item.platforms[2] }}"></i>
                <i class="fa {{ item.platforms[3] }}"></i>
              </div>
           </a>
           {% if item.text %}
             <div class="tooltiptext">{{ item.text }}</div>
           {% endif %}
         </div>
         {% endfor %}
      </div>
</div>
