<div class="three-col" style="background-color:{{ page.header.bgcolor }};">
<div class="three-col-content" style="color:{{ page.header.fontcolor }};">

{% block content %}
    <section id="{{ page.header.section_id }}" class="domains">
       <div class="row">
             {% for item in page.header.services %}
               <div class="four columns">
                   <div class="framed">
                    <div class="service-logo"> <img src="/user/pages/aliaschallenge/_domains/tresor.png"></div>
                           <h2>{{ item.title }}</h2>
                           <p class="service">Vote for <br>{{ item.text }} <br> via <a href="{{ item.button1 }}" target=_blank style="color:#003087;" >Paypal/Creditcard</a>
                           or <a href="{{ item.button2 }}" style="color:#A3C44F;" >Cryptocurrencies (BTC/XMR/FAIR)</a></p>
                      <a href="{{ item.button1 }}" target=_blank><img src="https://disroot.org/en/donate/_donate/pp_button.png" height="35"></a>
                      <a href="{{ item.button2 }}"><img src="https://disroot.org/en/donate/_donate/c_button.png" height="35"></a>
                   </div>
               </div>
             {% endfor %}
       </div>
     </section>
{% endblock %}
{{ page.content }}
</div>
</div>
