<div class="two-col" style="background-color:{{ page.header.bgcolor }};">
<div class="two-col-content" style="color:{{ page.header.fontcolor }}; text-align:{{ page.header.text_align }};" >

{% block content %}
    {% set colsize = ['five', 'six'] %}
    <section id="{{ page.slug }}" class="two-col">
      <div class="row">
      <div class="{{ colsize[0] }} columns">
        <h2>{{ page.header.part }}</h2>
        </div>
        <div class="{{ colsize[1] }} columns">
                  {% set qa_number= page.header.section_number %}
                   {% for item in page.header.faq %}
                   <div class="accordion vertical">
                           <ul id="accordion">
                               <li>
                               <input type="radio" id="radio-{{ qa_number }}" name="radio-accordion" />
                               <label for="radio-{{ qa_number }}"><h4>{{ item.question }}</h4></label>
                                   <div class="faq-content">
                                   {{ item.answer|raw }}
                                   <hr>
                                   </div>
                               </li>
                          </ul>
                   </div>
                   {% set qa_number = qa_number + 1 %}
                   {% endfor %}
                   </div>
      </div>
      </section>
{% endblock %}

</div>
</div>
