{% block content %}

{% if page.header.section_id %}
   <section id="{{ page.header.section_id }}">
{% else %}
   <section id="{{ page.slug }}">
{% endif %}

    <div class="fullbar" style="background-color:{{ page.header.bgcolor }}; {% if page.header.padding %} padding:{{ page.header.padding }}; {% endif %}">
        <div class="fullbar-content" style="color:{{ page.header.fontcolor }}; text-align:{{ page.header.text_align }};">
            {{ page.content|raw }}
        </div>
    </div>
</section>
{% endblock %}
