{% block content %}
<section id="{{ page.slug }}">
    <div class="three-col" style="background-color:{{ page.header.bgcolor }};">
        <div class="three-col-content" style="color:{{ page.header.fontcolor }};">
          <div class="row">
               <div class="goals">
                   {% for item in page.header.goals %}
                   {% if item.unlock == 'yes' %}
                       <div class="goals-item two columns">
                       <div class=center><span class="popper2">&#127881;</span> UNLOCKED <span class="popper2">&#x1f389;</span> </div>
                   {% else %}
                      <div class="goals-item goals-item-lock two columns">
                      <h4 class=center>HELP US UNLOCK<br>THIS GOAL</h4>
                   {% endif %}
                   <h2> {{ item.title }} </h2>
                   <p> {{ item.text }} </p>
                   {% if item.option %}
                   {{ item.option }}
                   {% endif %}
                   </div>
                   {% endfor %}
                </div>
               {{ page.content|raw }}
          </div>
          <br>
        </div>
    </div>
</section>
{% endblock %}
