{% if page.header.translation_banner.set == "true" %}
<div class="translation_banner narrow">

{% if page.header.translation_banner.language == "French" %}
    <p>Cette page a été mise à jour en <b>{{ page.header.translation_banner.last_modified }}</b></br>
    La traduction du site de Disroot est un processus axé sur la communauté. Nous essayons de le garder aussi à jour que possible.</br>
    Si vous voulez aider, consultez notre <a href="https://git.disroot.org/Disroot/Website" target="_blank"> dépôt git du site web</a></p>
    </p>

{% elseif page.header.translation_banner.language == "Spanish" %}
    <p>Esta página se actualizó por última vez el <b>{{ page.header.translation_banner.last_modified }}</b></br>
    La traducción del sitio web de Disroot es un proceso impulsado por la comunidad. Tratamos de mantenerlo lo más actualizado posible.</br>
    Si quieres ayudar, consulta nuestro <a href="https://git.disroot.org/Disroot/Website" target="_blank"> repositorio git del sitio web</a></p>
    </p>

{% elseif page.header.translation_banner.language == "Italian" %}
    <p>Questa pagina è stata aggiornata l'ultima volta il <b>{{ page.header.translation_banner.last_modified }}</b></br>
    La traduzione del sito web di Disroot è un processo guidato dalla comunità. Cerchiamo di mantenerlo il più aggiornato possibile.</br>
    Se vuoi aiutare, controlla il nostro <a href="https://git.disroot.org/Disroot/Website" target="_blank"> repository git del sito web</a></p>
    </p>

{% elseif page.header.translation_banner.language == "German" %}
    <p>Diese Seite wurde zuletzt aktualisiert am <b>{{ page.header.translation_banner.last_modified }}</b></br>
    Die Website-Übersetzung von Disroot ist ein community-gesteuerter Prozess. Wir versuchen, es so aktuell wie möglich zu halten.</br>
    Wenn Sie helfen möchten, überprüfen Sie unsere <a href="https://git.disroot.org/Disroot/Website" target="_blank"> Git-Repository der Website</a></p>
    </p>

{% elseif page.header.translation_banner.language == "Russian" %}
    <p>Эта страница последний раз обновлялась на <b>{{ page.header.translation_banner.last_modified }}</b></br>
    Перевод веб-сайта Disroot - это процесс, управляемый сообществом. Мы стараемся поддерживать его как можно более актуальным.</br>
    Если вы хотите помочь, проверьте наш <a href="https://git.disroot.org/Disroot/Website" target="_blank"> репозиторий git веб-сайта</a></p>
    </p>

{% elseif page.header.translation_banner.language == "Portuguese" %}
    <p>Esta página foi atualizada pela última vez em <b>{{ page.header.translation_banner.last_modified }}</b></br>
    A tradução do site de Disroot é um procces dirigido pela comunidade. Tentamos mantê-lo o mais atualizado possível.</br>
    Se quiser ajudar, verifique a nossa <a href="https://git.disroot.org/Disroot/Website" target="_blank"> repositório git do site</a></p>
    </p>

{% else %}
    <p>This page was last updated on <b>{{ page.header.translation_banner.last_modified }}</b></br>
    Disroot's website translation is a community driven procces. We try to keep it as updated as we can.</br>
    If you want to help, check our <a href="https://git.disroot.org/Disroot/Website" target="_blank"> website's git repository</a></p>
    </p>
{% endif %}

</div>
{% endif %}
