<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ grav.language.getLanguage ?: 'en' }}"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8" />
        <meta name="flattr:id" content="qyndvd">
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
         {% block stylesheets %}
                {% do assets.addCss('theme://css/style.css') %}
                {% do assets.addCss('theme://css/media-queries.css') %}
                {% do assets.addCss('theme://css/magnific-popup.css') %}
        {% endblock %}
        {{ assets.css()|raw }}
        <script src="{{ url('theme://js/modernizr.js') }}"></script>
        {% endblock head%}
    </head>
    <body>

        {% block header %}
        {% if page.header.big_header is defined %}
             {% include 'partials/header.html.twig' %}
        {% else %}
            {% include 'partials/mini-header.html.twig' %}
        {% endif %}
        {% endblock %}

        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block footer %}
             {% include 'partials/footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            {% do assets.add('jquery', 101) %}
            <!--<script>window.jQuery || document.write('<script src="{{ url('theme://js/jquery-1.10.2.min.js') }}"><\/script>')</script><!-->
            {% do assets.addJs('theme://js/jquery-migrate-1.2.1.min.js') %}
            {% do assets.addJs('theme://js/jquery.flexslider.js') %}
            {% do assets.addJs('theme://js/waypoints.js') %}
            {% do assets.addJs('theme://js/jquery.fittext.js') %}
            {% do assets.addJs('theme://js/magnific-popup.js') %}
            {% do assets.addJs('theme://js/init.js') %}
        {% endblock %}
        {{ assets.js()|raw }}
    </body>
</html>
