{% if header.header_image == 'none' %}
<div id="noheader" class="noheader {{ page.slug }}-header">
</div>
{% else %}
<div id="miniheader" class="miniheader {{ page.slug }}-header">
<div class="miniheader-img" style="background:url({{ page.url }}/{{ page.header.header_image }}) top center no-repeat fixed; ">
</div>
{% endif %}

  {% block navigation %}
  {% include 'partials/navigation.html.twig' %}
  {% endblock %}
</div>
