{% extends 'partials/base.html.twig' %}

{% set show_onpage_menu = header.onpage_menu == true or header.onpage_menu is null %}
{% macro pageLinkName(text) %}{{ text|lower|replace({' ':'_'}) }}{% endmacro %}

{% block content %}

    {{ page.content|raw }}
    <div id="content" style="background-color: {{ page.header.bgcolor }}">
    {% include 'partials/banner.html.twig' %}

        {% for module in page.collection() %}
                {{ module.content|raw }}
        {% endfor %}
    </div>

{% endblock %}
